.article{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    
    .article__desc{
        .article__title{

        }
        .article__text{

        }
        .read-more-link{

        }
    }
    .article__preview{
        img{

        }
        .article__preview-desc{
            .article__preview-desc-content{

            }
        }
    }
}