.subscribe-wrapper{
    .subscribe{
        width: 590px;
        margin-top: 50px;
        padding-top: 160px;
        padding-bottom: 75px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &:before{
            position: absolute;
            content: "";
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            display: block;
            width: 2px;
            height: 100px;
            background-color: #5da8ef;
        }
        .desc-text{
            margin-bottom: 35px;
        }
        .subscribe-form{
            
            .subscribe-form__input{

            }
            .subscribe-form__submit{

            }
        }
    }
}